@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('DIN-Medium.otf');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('Gotham-Medium.otf');
}

@font-face {
  font-family: 'HelveticaNeueCondensed';
  src: url('Helvetica-Condensed-Black.otf');
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('HelveticaNeue.ttc');
}

@font-face {
  font-family: 'DINAlternate';
  src: url('DIN\ Alternate\ Bold.ttf');
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.ttc');
}

@font-face {
  font-family: 'DINAlternateRegular';
  src: url('DIN\ Alternate\ Regular.otf');
}
